/* --------------------------------------------------------------------------- planets starting position and lighting effect */
/* --------------------------------------------------------------------------- mercury ; pos: Top */
#mercury .pos {
  left: 50%;
  top: -1%;
}

#mercury .planet {
  -webkit-animation-name: shadow-mercury;
  animation-name: shadow-mercury;
}

@-webkit-keyframes shadow-mercury {
  0% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  25% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  50% {
    -webkit-box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
    box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50.01% {
    -webkit-box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
    box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  75% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  100% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
}

@keyframes shadow-mercury {
  0% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  25% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  50% {
    -webkit-box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
    box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50.01% {
    -webkit-box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
    box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  75% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  100% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
}

.scaled.view-2D #mercury .planet,
.scaled.view-3D #mercury .planet {
  -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- venus ; pos: Left */
#venus .pos {
  left: 0;
  top: 50%;
}

#venus .planet {
  -webkit-animation-name: shadow-venus;
  animation-name: shadow-venus;
}

@-webkit-keyframes shadow-venus {
  0% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  25% {
    -webkit-box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  25.5% {
    -webkit-box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  75% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  100% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

@keyframes shadow-venus {
  0% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  25% {
    -webkit-box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  25.5% {
    -webkit-box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  75% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  100% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

.scaled.view-2D #venus .planet,
.scaled.view-3D #venus .planet {
  -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- earth ; pos: Right */
#earth .pos {
  left: 100%;
  top: 50%;
}

#earth .planet {
  -webkit-animation-name: shadow-earth;
  animation-name: shadow-earth;
}

@-webkit-keyframes shadow-earth {
  0% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  25% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  50% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  75% {
    -webkit-box-shadow: inset 24px -20px 15px rgba(0, 0, 0, 0.5);
    box-shadow: inset 24px -20px 15px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  75.01% {
    -webkit-box-shadow: inset -24px -20px 15px rgba(0, 0, 0, 0.5);
    box-shadow: inset -24px -20px 15px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  100% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
}

@keyframes shadow-earth {
  0% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  25% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  50% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  75% {
    -webkit-box-shadow: inset 24px -20px 15px rgba(0, 0, 0, 0.5);
    box-shadow: inset 24px -20px 15px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  75.01% {
    -webkit-box-shadow: inset -24px -20px 15px rgba(0, 0, 0, 0.5);
    box-shadow: inset -24px -20px 15px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  100% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
}

.scaled.view-2D #earth .planet,
.scaled.view-3D #earth .planet {
  -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- moon */
#earth .orbit .pos {
  left: 100%;
  top: 50%;
}

/* --------------------------------------------------------------------------- mars ; pos: Bottom */
#mars .pos {
  left: 50%;
  top: 100%;
}

#mars .planet {
  -webkit-animation-name: shadow-mars;
  animation-name: shadow-mars;
}

@-webkit-keyframes shadow-mars {
  0% {
    -webkit-box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  25% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  50% {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  75% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  99.99% {
    -webkit-box-shadow: inset 18px -10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 18px -10px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  100% {
    -webkit-box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
}

@keyframes shadow-mars {
  0% {
    -webkit-box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  25% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  50% {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  75% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  99.99% {
    -webkit-box-shadow: inset 18px -10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 18px -10px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  100% {
    -webkit-box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
}

.scaled.view-2D #mars .planet,
.scaled.view-3D #mars .planet {
  -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- jupiter ; pos: Right */
#jupiter .pos {
  left: 100%;
  top: 50%;
}

#jupiter .planet {
  -webkit-animation-name: shadow-jupiter;
  animation-name: shadow-jupiter;
}

@-webkit-keyframes shadow-jupiter {
  0% {
    -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  25% {
    -webkit-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  50% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  75% {
    -webkit-box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  75.01% {
    -webkit-box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  100% {
    -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
}

@keyframes shadow-jupiter {
  0% {
    -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  25% {
    -webkit-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  50% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  75% {
    -webkit-box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  75.01% {
    -webkit-box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  100% {
    -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
}

.scaled.view-2D #jupiter .planet,
.scaled.view-3D #jupiter .planet {
  -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- saturn ; pos: Left */
#saturn .pos {
  left: 0%;
  top: 50%;
}

#saturn .planet {
  -webkit-animation-name: shadow-saturn;
  animation-name: shadow-saturn;
}

@-webkit-keyframes shadow-saturn {
  0% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  25% {
    -webkit-box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
    box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  25.01% {
    -webkit-box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50% {
    -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  75% {
    -webkit-box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  100% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

@keyframes shadow-saturn {
  0% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  25% {
    -webkit-box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
    box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  25.01% {
    -webkit-box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50% {
    -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  75% {
    -webkit-box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  100% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

.scaled.view-2D #saturn .planet,
.scaled.view-3D #saturn .planet {
  -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- uranus ; pos: Left */
#uranus .pos {
  left: 0;
  top: 50%;
}

#uranus .planet {
  -webkit-animation-name: shadow-uranus;
  animation-name: shadow-uranus;
}

@-webkit-keyframes shadow-uranus {
  0% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  25% {
    -webkit-box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  25.01% {
    -webkit-box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50% {
    -webkit-box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  75% {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  100% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

@keyframes shadow-uranus {
  0% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  25% {
    -webkit-box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  25.01% {
    -webkit-box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50% {
    -webkit-box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  75% {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  100% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

.scaled.view-2D #uranus .planet,
.scaled.view-3D #uranus .planet {
  -webkit-box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- neptune ; pos: Top */
#neptune .pos {
  left: 50%;
  top: 0;
}

#neptune .planet {
  -webkit-animation-name: shadow-neptune;
  animation-name: shadow-neptune;
}

@-webkit-keyframes shadow-neptune {
  0% {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  25% {
    -webkit-box-shadow: inset 12px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 12px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  50% {
    -webkit-box-shadow: inset 50px -15px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset 50px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50.01% {
    -webkit-box-shadow: inset -50px -15px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset -50px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  75% {
    -webkit-box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  100% {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
}

@keyframes shadow-neptune {
  0% {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }

  25% {
    -webkit-box-shadow: inset 12px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 12px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }

  50% {
    -webkit-box-shadow: inset 50px -15px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset 50px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  50.01% {
    -webkit-box-shadow: inset -50px -15px 40px rgba(0, 0, 0, 0.5);
    box-shadow: inset -50px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }

  75% {
    -webkit-box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }

  100% {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
}

.scaled.view-2D #neptune .planet,
.scaled.view-3D #neptune .planet {
  -webkit-box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- animations */
@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@keyframes orbit {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}

@-webkit-keyframes suborbit {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
    transform: rotateX(90deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(90deg) rotateZ(-360deg);
    transform: rotateX(90deg) rotateZ(-360deg);
  }
}

@keyframes suborbit {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
    transform: rotateX(90deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(90deg) rotateZ(-360deg);
    transform: rotateX(90deg) rotateZ(-360deg);
  }
}

@-webkit-keyframes invert {
  0% {
    -webkit-transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}

@keyframes invert {
  0% {
    -webkit-transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}
